[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi2.abm-jsc.ru"
verify_ssl = true
name = "abm_pypi"

[packages]
init-helpers-abm={version=">=1.2.59931", index="abm_pypi"}
async-tools-abm={version=">=2.1.57881", index="abm_pypi"}

[dev-packages]

[requires]
python_version = "3.11"
